html{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    /*letter-spacing: 1px;*/
}
.clr::after{
    content: "";
    display: inline-block;
    clear: both;
}
.menu::after{
    content: "";
    display: inline-block;
    width: 100%;
}
.wrapper{
    margin: 0 auto;
    max-width: 960px;
    /*padding: 75px 0 100px;*/
}
.first,
nav,
.third{
    margin-bottom: 40px;
}
.h1{
    font-size: 24px;
    color: #bfbfbf;
    font-family: "Arial";
    font-weight: bold;
    /*font: bold 24px Arial, sans-serif;*/
}
.first a{
    color: white;
    text-decoration: none;
}
.first ul{
    background-color: #2a3644;
    border-radius: 6px;
    box-sizing: content-box;
}
.first li{
    list-style: none;
}
.menu{
    padding: 0;
    text-align: justify;
    font-size: 0;
}
.menu>li{
    position: relative;
    display: inline-block;
    font-size: 14px;
    border-right: 1px solid white;
    border-left: 1px solid white;
}
.menu a{
    display: block;
    padding: 10px 30px;
    text-decoration: none;
}
.submenu li{
    position: relative;
    display: block;
}
.submenu{
    position: absolute;
    display: none;
    padding-left: 0;
    padding-top: 10px;
    top: 100%;
    z-index: 1;
}
.submenu ul{
    padding: 0;
    width: 210px;
    list-style: none;
}
.submenu>li:first-child{
    border-left: none;
}
.submenu>li:last-child{
    border-right: none;
}
.menu li:hover .submenu{
    display: block;
}
.menu>li:first-child:hover>a{
    border-radius: 4px 0 0 4px;
}
.menu>li:last-child:hover>a{
    border-radius:  0 4px 4px 0;
}
.menu>li:hover>a{
    color: #fd8612;
}
.submenu ul{
    background-color: lightgray;
}
.submenu li a{
    color: black;
}
nav{
    display: table;
    width: 100%;
}
nav ul{
    display: table-row;
    list-style: none;
    background-color: #2a3644;
}
nav li{
    display: table-cell;
    text-align: center;
}
nav li a{
    display: block;
    padding: 10px;
    text-decoration: none;
    color: white;
}
/*.sub,
.subs{
    position: absolute;
    width: 210px;
    transition: all 0.3s ease-in-out;
    transform: scaleY(0);
    transform-origin: 0 0;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
}*/
.sub{
    position: absolute;
    display: none;
    top: 100%;
    padding: 10px 0;
    width: 150px;
    list-style: none;
    z-index: 1;
}
.subs{
    position: absolute;
    display: none;
    padding-left: 120px;
    top: 100%;
    width: 200px;
    list-style: none;
    z-index: 1;
}
.subes{
    position: absolute;
    display: none;
    padding-right: 10px;
    top: 100%;
    width: 150px;
    list-style: none;
    z-index: 1;
}
.menus>li{
    position: relative;
    font-size: 14px;
    border-right: 1px solid white;
    border-left: 1px solid white;
}
.sub li{
    position: relative;
    display: inline-block;
    transition: all 0.2s ease;
}
.sub>li:first-child{
    border-left: none;
}
.sub>li:last-child{
    border-right: none;
}
.sub ul{
    padding: 0px;
    width: 120px;
    list-style: none;
}
.menus li:hover .sub{
    display: block;
}
.sub li:hover .subs{
    display: block;
}
.subs li:hover .subes{
    display: block;
}
.subs>li:first-child{
    border-left: none;
}
.subs>li:last-child{
    border-right: none;
}
.subes li{
    position: relative;
    display: inline-block;
    transition: all 0.2s ease;
}
.subes>li:first-child{
    border-left: none;
}
.subes>li:last-child{
    border-right: none;
}
.menus::after{
    content: "";
    display: inline-block;
    width: 100%;
}
.menus>li:hover>a{
    color: #fd8612;
}
.sub ul,
.subs ul,
.subes ul{
    background-color: lightgray;
}
.sub li a,
.subs li a,
.subes li a{
    color: black;
}
.third{
    background-color: #2a3644;
    width: 100%;
    font-size: 14px;
}
.about li,
.social li{
    display: inline-block;
    font-size: 14px;
}
.about li{
    margin-right: 30px;
}
.social li{
    margin-left: 20px;
}
.about{
    float:left;
}
.social{
    float:right;
} 